body{
	background-color: #f2f2f2;
    font-family: sans-serif;
}
a {
    background-color: #f71f1f;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}
.btn {
    width: 100px;
    height: 25px;
    cursor: pointer;
    transition: 0.2s;
}
.btn-first{
    background-color: rgba(8, 14, 51,1);
    border-radius: 8px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.5);
    color: #fff;
    font-weight: 700;
}
input[type=text]{
	border-radius: 8px;
    border: none;
    height: 22px;
    outline: none;
    padding-left: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.3);
}
button{
    margin-bottom: 20px;
}
.btn-first:hover{
	box-shadow: 0 5px 10px rgba(0, 0, 0,.3);
}
li {
    margin-top: 10px;
}
.app{
	width: 300px;
}
.app h2{
	text-align: center;
}